{% extends 'base.html.twig' %}

{% block body  %}
    <h1>Modification d'un utlisateur !</h1>

    {{ form_start(formUser) }}
    {{ form_row(formUser.username,{'label':"Utilisateur :",'attr':{'placeholder':"Votre nom d'utilisateur"}} ) }}
    {{ form_row(formUser.society,{'label':"Société : ",'attr':{'placeholder':"Le nom de votre société"}} ) }}
    {{ form_row(formUser.email,{'label':"Email :",'attr':{'placeholder':"Votre adresse mail"}}) }}

    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(formUser) }}
{% endblock %}