{% extends 'admin/blog/base.html.twig' %}

{% block title %}Administration des articles  {% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des articles </h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Ecrit le:</th>
                <th>Contenu</th>
                <th>Image</th>
                {#<th>Image Url</th>#}
                <th>Date publication</th>
                <th>Diffusion privée</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title |raw }}</td>
                <td>{{ article.createdAt | date('Y-M-j') }}</td>
                <td>{{ article.content | raw }}</td>
               {# {% for image in article.images %}
                <td>{{ image.url }}</td>
                {% endfor %}
                #}
                <td><img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="card-img-top" style="width: 100%; height: auto"></td>
                <td>{{ article.publishedAt | date('Y-M-j') }}</td>
                <td>{{ article.isPrivate }}</td>
                <td>
                    <a href="{{ path('admin_article_edit',{'id': article.id}) }}" class="badge badge-primary">Edit</a>
                    <a href="{{ path('admin_article_delete',{'id':article.id}) }}" class="badge badge-danger">Suppr</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
