{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenu sur l'Axoblog ! </h1>



    {% for article in articles %}
        <section class="articles">
            <article>
                <h2>{{article.title}}</h2>
                  <div class="metadata"> Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date ('H:i')  }}</div>
                <div class="content">  <img src="{{article.image}}" alt=""></div>

                {% if not app.user %}
                    <p>Merci de vous connecter pour lire l'intégralité de l'article.</p>
                {% else %}
                    <br>
                    {{ article.content | raw }}
                    <br>
                    <a href="{{ path('blog_usershow',{'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
                    <hr>
                {% endif %}

            </article>
        </section>
    {% endfor %}

{% endblock %}