<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Axoblog!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bootstrap.min.css') }}" >
        <meta name="viewport" content="width=device-width, user-scalable=no">
        {% block stylesheets %}{% endblock %}

    </head>

    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <img style ="" src="{{ asset('images/icone.png') }}" alt="Image"/>
                <a class="navbar-brand" href="{{path('home')}}">Axoblog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">

                        {% if not app.user %}
                            <li class="nav-item">
                                <a href="{{ path ('security_login') }}" class="nav-link">
                                    Connexion
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path ('security_registration') }}" class="nav-link">
                                    S'enregistrer
                                </a>
                            </li>
                        <li class="nav-item">
                            <a href="{{ path ('security_password_reset') }}" class="nav-link">
                                Mot de passe oublié
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{{ path ('security_logout') }}" class="nav-link">
                                Déconnexion
                            </a>

                        <li class="nav-item">
                            <a href="{{ path ('security_password_update') }}" class="nav-link">
                               Modifier mot de passe
                            </a>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="container">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% block body %} {% endblock %}
            </div>
        {% block javascripts %}{% endblock %}

    </body>

</html>
